<nav>
  <div class="nav-wrapper grey darken-1">
      <a href="#" class="brand-logo">Newborn</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a>Вход</a></li>
          <li><a>Регистрация</a></li>
      </ul>
  </div>
</nav>

<div class="auth-block">
  <div class="card">
    <div class="card-content">
        <span class="card-title">Войти в систему</span>
        <div class="input-field">
            <input id="email" type="email" required>
            <label for="email">Email:</label>
        </div>
        <div class="input-field">
            <input id="password" type="password" required>
            <label for="password">Пароль:</label>
        </div>
    </div>
    <div class="card-action">
        <button class="modal-action btn waves-effect">Войти</button>
    </div>
  </div>
</div>